.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid #dee2e6;
}

.navWrapper {
    background-color: #323030;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authWrapper  {
    background-color: white;
    padding: 32px 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}