.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.icon {
    color: #007bff;
    margin-right: 5px;
    transition: color 0.3s;
}


.contact {
    display: flex;
    align-items: center;
}

.name {
    margin-right: 10px;
    font-weight: bold;
}

.number {
    margin-right: 20px;
}

.wrappBtn {
    display: flex;
    align-items: center;
}

.btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.btn:hover {
    color: #007bff;
}

.editFormContainer {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.title {
    margin-bottom: 10px;
}

.span {
    color: #007bff;
}



